{% extends 'base.html.twig' %}

{% block body %}
    <br><br><br>
    <div class="container">
        <h1>Register</h1>
        {# affiche le formulaire d'inscription #}
        {{ form(registrationForm) }}
    </div>
{% endblock %}
