{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Inscription
{% endblock %}


{% block body %}
    <br><br><br><br>
    <br><br>
    <div class="container">
       
        {{ form(registrationForm) }}
       
    </div>
{% endblock %}
